/* */
/*  */
/* BUTTON */
.form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #f53e3e;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }
  .form-submit:hover, .form-submit:focus {
    background: #fff;
    color: #f53e3e; }
  .form-submit:first-child {
    margin: 0 10px 10px 0; }

.slick-slider .slick-prev, .slick-slider .slick-next {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }

#search-block-form:before, .navbar-default ul .expanded > a:before, .slick-slider .slick-prev:before, .slick-slider .slick-next:before, .btn-btt:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1; }

/* header */
#header .container {
  padding-top: 15px;
  padding-bottom: 15px; }
#header #logo {
  float: left; }
#header .region-header, #header #search-block-form {
  float: right; }
#header #block-blog-theme-account-menu {
  float: right; }
  #header #block-blog-theme-account-menu ul.menu {
    list-style: none; }
    #header #block-blog-theme-account-menu ul.menu li {
      display: inline-block; }

/* search */
#search-block-form {
  background: url(../images/bg-search.png) no-repeat 100% 0;
  height: 32px;
  width: 249px;
  padding: 4px 5px;
  position: relative; }
  #search-block-form:before {
    content: "\f002";
    font-size: 1em;
    position: absolute;
    right: 13px;
    top: 10px;
    color: #000;
    z-index: 0; }
  #search-block-form .form-item {
    margin: 0; }
  #search-block-form .form-search {
    background: none;
    border: none;
    padding: 4px;
    width: 198px;
    text-indent: 5px;
    color: #000;
    font-style: italic; }
  #search-block-form .button {
    margin: 0;
    float: right;
    background: none;
    z-index: 1;
    border: none;
    width: 17px;
    height: 25px;
    text-indent: -999em; }
  #search-block-form .form-actions {
    position: relative;
    z-index: 5; }

/* nav */
#main-menu {
  float: right;
  margin: 0;
  clear: right;
  padding-top: 15px; }

.navbar-default {
  background: none;
  border-radius: 0;
  box-shadow: none;
  border: none;
  min-height: 0; }
  .navbar-default .container-fluid {
    padding: 0; }
  .navbar-default .navbar-collapse.collapse {
    border: none; }
  .navbar-default .navbar-collapse {
    max-height: 20000px;
    padding-left: 0;
    padding-right: 0; }
  .navbar-default .container {
    padding: 0 !important;
    width: auto; }
  .navbar-default ul {
    margin: 0;
    list-style: none; }
    .navbar-default ul > li {
      float: left;
      margin: 0 0 0 2px;
      position: relative; }
      .navbar-default ul > li > a {
        font-family: 'oswaldregular';
        text-transform: uppercase;
        color: #fff;
        display: block;
        padding: 4px 20px;
        text-shadow: 1px 1px 0 #000000, 1px 2px 0 #000000;
        font-size: 1.14em; }
        .navbar-default ul > li > a:hover, .navbar-default ul > li > a:focus {
          color: #f53e3e; }
      .navbar-default ul > li > a.active, .navbar-default ul > li > a.is-active {
        background: #f53e3e;
        color: #fff; }
      .navbar-default ul > li:hover block-menu
      > a, .navbar-default ul > li:focus block-menu
      > a {
        background: #f53e3e;
        color: #fff; }
      .navbar-default ul > li:hover ul.menu, .navbar-default ul > li:focus ul.menu {
        display: block; }
    .navbar-default ul > li.active > a {
      background: #f53e3e;
      color: #fff; }
    .navbar-default ul .expanded {
      list-style-image: none;
      list-style-type: none; }
      .navbar-default ul .expanded > a {
        padding-right: 25px; }
        .navbar-default ul .expanded > a:before {
          content: "\f0d7";
          color: #fff;
          position: absolute;
          right: 9px;
          top: 11px;
          font-size: 0.923em; }
    .navbar-default ul ul {
      position: absolute;
      left: 0;
      top: 33px;
      z-index: 100;
      background: #272727;
      border: 5px solid #f53e3e;
      width: 220px;
      display: none; }
      .navbar-default ul ul li {
        float: none;
        border: none;
        margin: 0;
        padding: 0;
        border-top: #444 solid 1px; }
        .navbar-default ul ul li a {
          color: #fff;
          border-radius: 0;
          padding: 7px 15px;
          text-transform: none;
          font-family: arial;
          font-size: 1em; }
          .navbar-default ul ul li a:hover, .navbar-default ul ul li a:focus {
            background: none;
            color: #f53e3e !important; }
        .navbar-default ul ul li .active-trail, .navbar-default ul ul li .active, .navbar-default ul ul li .is-active {
          background: none;
          color: #fff; }
        .navbar-default ul ul li:first-child {
          border: none; }
        .navbar-default ul ul li:hover > a, .navbar-default ul ul li:focus > a {
          background: none;
          color: #fff; }
          .navbar-default ul ul li:hover > a:before, .navbar-default ul ul li:focus > a:before {
            color: #fff; }
        .navbar-default ul ul li:hover ul, .navbar-default ul ul li:focus ul {
          display: block; }
        .navbar-default ul ul li ul {
          left: 190px;
          top: 10px;
          display: none; }
      .navbar-default ul ul li.active-trail, .navbar-default ul ul li.active {
        background: none;
        color: #fff; }
      .navbar-default ul ul .expanded {
        list-style-image: none;
        list-style-type: none; }
        .navbar-default ul ul .expanded > a:before {
          content: "\f0da";
          top: 11px;
          color: #fff; }

#title h1 {
  font-size: 1.5em; }

/* panel first */
#panel_first {
  background: #000;
  padding-top: 30px;
  padding-bottom: 30px; }
  #panel_first h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px; }
  #panel_first .container {
    position: relative; }

.slick-slider {
  margin-bottom: 0; }
  .slick-slider .slick-slide {
    position: relative;
    overflow: hidden; }
    .slick-slider .slick-slide .views-field {
      padding-right: 28px; }
    .slick-slider .slick-slide .views-field-title .field-content {
      background: #141414;
      border-bottom: 2px solid #333;
      display: block;
      padding: 10px 15px;
      font-size: 1.14em;
      min-height: 68px; }
      .slick-slider .slick-slide .views-field-title .field-content a {
        color: #ccc; }
    .slick-slider .slick-slide:hover a, .slick-slider .slick-slide:focus a {
      color: #f53e3e !important; }
    .slick-slider .slick-slide .views-field-created {
      position: absolute;
      right: 28px;
      top: 0;
      background: url(../images/bg-date.png) no-repeat 100% 0;
      z-index: 10;
      height: 55px;
      width: 100%;
      padding-right: 0; }
      .slick-slider .slick-slide .views-field-created .date-wrapper {
        display: block;
        float: right;
        overflow: hidden;
        padding: 12px 0 0;
        width: 103px;
        color: #333; }
      .slick-slider .slick-slide .views-field-created .date-left {
        display: block;
        float: left;
        font-family: 'oswaldregular';
        font-size: 2em;
        line-height: 1.2;
        text-align: center;
        width: 49px; }
      .slick-slider .slick-slide .views-field-created .date-right {
        border-left: 1px solid #999;
        display: block;
        float: left;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        width: 53px; }
        .slick-slider .slick-slide .views-field-created .date-right .month {
          display: block; }
  .slick-slider .slick-prev, .slick-slider .slick-next {
    width: 24px;
    height: 24px;
    margin: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px solid #fff;
    background: #f53e3e;
    color: #fff;
    text-align: center;
    top: -44px; }
    .slick-slider .slick-prev:before, .slick-slider .slick-next:before {
      font-size: 16px; }
    .slick-slider .slick-prev:hover, .slick-slider .slick-prev:focus, .slick-slider .slick-prev:active, .slick-slider .slick-next:hover, .slick-slider .slick-next:focus, .slick-slider .slick-next:active {
      background: #141414; }
  .slick-slider .slick-next {
    right: 23px; }
    .slick-slider .slick-next:before {
      content: "\f0da";
      margin-left: 3px; }
  .slick-slider .slick-prev {
    left: auto;
    right: 52px; }
    .slick-slider .slick-prev:before {
      content: "\f0d9";
      margin-right: 1px; }

/* panel second */
#panel_second {
  background: #141414;
  padding: 30px 0; }
  #panel_second h2 {
    font-size: 1.285em;
    color: #fff;
    text-transform: uppercase; }
  #panel_second .menu {
    margin: 0; }
    #panel_second .menu li {
      border-top: 1px dotted #393939;
      padding: 7px 0 7px 15px;
      position: relative; }
      #panel_second .menu li:first-child {
        border-top: none; }
      #panel_second .menu li a {
        color: #ccc; }
        #panel_second .menu li a:hover, #panel_second .menu li a:focus {
          color: #f53e3e; }
        #panel_second .menu li a:before {
          content: "+";
          position: absolute;
          left: 0;
          top: 6px; }
  #panel_second .views-row {
    margin-bottom: 20px; }
    #panel_second .views-row .views-field-field-image {
      float: left;
      margin: 0 15px 5px 0; }

.gallery-list .views-row {
  margin-bottom: 10px !important; }
  .gallery-list .views-row .views-col {
    margin-right: 10px; }
  .gallery-list .views-row .views-field {
    margin-bottom: 0; }
.gallery-list .more-link {
  text-align: left; }

.contact-info p {
  margin-bottom: 5px; }

.social-wrap {
  overflow: hidden;
  padding-top: 10px; }
  .social-wrap p {
    display: inline-block;
    margin: 0 5px 0 0; }
  .social-wrap .social-list {
    margin: 0;
    display: inline-block; }
    .social-wrap .social-list li {
      padding: 0;
      margin-right: 3px; }
      .social-wrap .social-list li a {
        display: inline-block;
        background: #f53e3e;
        color: #fff;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center; }
        .social-wrap .social-list li a:hover {
          background: #fff;
          color: #f53e3e; }

/* footer */
#footer {
  background: #000;
  border-top: 1px solid #222; }
  #footer .container {
    padding-top: 20px;
    padding-bottom: 20px; }
    #footer .container .block {
      width: 50%;
      float: left; }
    #footer .container .block-menu {
      padding-top: 3px; }
  #footer ul {
    margin: 0;
    float: right;
    list-style: none; }
    #footer ul li {
      float: left;
      margin-left: 10px;
      line-height: 100%;
      border-left: 1px solid #333;
      padding: 0 0 0 10px; }
      #footer ul li a {
        color: #ccc; }
        #footer ul li a:hover {
          color: #f53e3e; }
      #footer ul li:first-child {
        border-left: none; }

/* breadcrumb */
.front #breadcrumb {
  display: none; }

#breadcrumb {
  background: #000;
  border-top: 1px solid #222; }
  #breadcrumb .breadcrumb {
    margin-bottom: 0;
    background: none;
    padding: 10px 0;
    border-radius: 0; }
    #breadcrumb .breadcrumb a {
      color: #ccc; }
      #breadcrumb .breadcrumb a:hover, #breadcrumb .breadcrumb a:focus {
        color: #f53e3e; }

.btn-btt {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  background: #555;
  width: 40px;
  height: 40px;
  color: #ccc;
  text-align: center;
  line-height: 40px;
  z-index: 999;
  opacity: 0.7; }
  .btn-btt:before {
    content: "\f062"; }
  .btn-btt:hover, .btn-btt:focus {
    background: #f53e3e;
    color: #fff;
    opacity: 1; }
