/* */
/*  */
h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'oswaldregular'; }

/* BUTTON */
.form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #f53e3e;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }
  .form-submit:hover, .form-submit:focus {
    background: #fff;
    color: #f53e3e; }
  .form-submit:first-child {
    margin: 0 10px 10px 0; }

a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }

/* html.scss */
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #ccc;
  background: url(../images/bg-body.jpg) repeat 0 0 #000; }

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

header, nav, section, article, figure, aside, footer {
  display: block; }

a {
  color: #f53e3e; }

a:hover, a:hover {
  text-decoration: none;
  color: #fff; }

h1, .h1 {
  font-size: 1.84em; }

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0 0 15px;
  color: #fff; }

h2 {
  font-size: 1.71em; }

h4, h5, h6 {
  margin-bottom: 15px;
  font-size: 1em;
  color: #fff; }

address {
  margin-bottom: 15px; }

img {
  max-width: 100%;
  height: auto; }

input, button, select, textarea {
  padding: 6px;
  border: 1px solid #ddd; }

label {
  font-weight: normal; }

p {
  margin-bottom: 15px; }
