/* */
/*  */
/* BUTTON */
.form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 8px 20px;
  color: #fff;
  background: #f53e3e;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }
  .form-submit:hover, .form-submit:focus {
    background: #fff;
    color: #f53e3e; }
  .form-submit:first-child {
    margin: 0 10px 10px 0; }

.views-field-field-image a img, .views-field-field-images a img {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .views-field-field-image a img:hover, .views-field-field-images a img:hover, .views-field-field-image a img:focus, .views-field-field-images a img:focus, .views-field-field-image a img:active, .views-field-field-images a img:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

.container {
  padding-left: 0;
  padding-right: 0;
  position: relative; }

/* view */
.views-field, .field {
  margin-bottom: 5px; }

.field-type-image {
  margin-bottom: 15px; }

.page {
  /* sidebar */ }
  .page #main {
    padding-top: 30px;
    padding-bottom: 30px;
    /* forum */
    /* comment */ }
    .page #main .content .tabs > li {
      display: inline-block;
      margin-right: 0.3em; }
    .page #main .content .tabs a {
      display: block;
      padding: 0.2em 1em;
      text-decoration: none; }
    .page #main .content .node .content {
      margin-bottom: 30px;
      padding: 30px;
      position: relative;
      background: #141414; }
      .page #main .content .node .content:before {
        border-color: transparent transparent #141414 transparent;
        border-style: solid;
        border-width: 0 15px 15px;
        content: "";
        position: absolute;
        top: -15px;
        z-index: 10;
        left: 30px; }
    .page #main .content .node h2 {
      margin: -40px 0 30px;
      padding-right: 110px;
      line-height: 1.4; }
    .page #main .content .node .date-wrapper {
      background: url(../images/bg-date-2.png) no-repeat 100% 0;
      display: block;
      margin: 0 0 15px;
      overflow: hidden;
      padding: 0;
      width: 100%; }
      .page #main .content .node .date-wrapper .date-content {
        display: block;
        float: right;
        height: 53px;
        overflow: hidden;
        padding: 9px 0 0;
        width: 103px; }
        .page #main .content .node .date-wrapper .date-content span {
          color: #fff; }
      .page #main .content .node .date-wrapper .date-left {
        display: block;
        float: left;
        font-family: 'oswaldregular';
        font-size: 2em;
        line-height: 1.2;
        text-align: center;
        width: 49px; }
      .page #main .content .node .date-wrapper .date-right {
        border-left: 1px solid #999;
        display: block;
        float: left;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        width: 53px; }
    .page #main .content .gallery-list .views-row {
      margin-bottom: 30px; }
    .page #main .content .gallery-list .views-col {
      margin-right: 0; }
    .page #main .content .gallery-list .views-field-field-images {
      margin: 0 15px; }
    .page #main .content .gallery-list .views-field-title {
      background: #333;
      border: 1px solid #444;
      padding: 10px;
      margin-left: 15px;
      margin-right: 15px; }
      .page #main .content .gallery-list .views-field-title a {
        color: #ccc;
        font-size: 1.142em; }
        .page #main .content .gallery-list .views-field-title a:hover, .page #main .content .gallery-list .views-field-title a:focus {
          color: #f53e3e; }
    .page #main .content .content .user-login-form, .page #main .content .content .user-pass, .page #main .content .content .user-register-form {
      padding: 30px;
      background: #141414; }
      .page #main .content .content .user-login-form .form-item, .page #main .content .content .user-pass .form-item, .page #main .content .content .user-register-form .form-item {
        margin: 0 0 10px; }
        .page #main .content .content .user-login-form .form-item label, .page #main .content .content .user-pass .form-item label, .page #main .content .content .user-register-form .form-item label {
          min-width: 100px;
          margin-right: 5px; }
        .page #main .content .content .user-login-form .form-item .form-text, .page #main .content .content .user-login-form .form-item .form-email, .page #main .content .content .user-login-form .form-item .form-select, .page #main .content .content .user-pass .form-item .form-text, .page #main .content .content .user-pass .form-item .form-email, .page #main .content .content .user-pass .form-item .form-select, .page #main .content .content .user-register-form .form-item .form-text, .page #main .content .content .user-register-form .form-item .form-email, .page #main .content .content .user-register-form .form-item .form-select {
          background-color: #222;
          border: 1px solid #2E2E2E;
          color: #fff; }
      .page #main .content .content .user-login-form input, .page #main .content .content .user-login-form button, .page #main .content .content .user-login-form select, .page #main .content .content .user-login-form textarea, .page #main .content .content .user-login-form details, .page #main .content .content .user-pass input, .page #main .content .content .user-pass button, .page #main .content .content .user-pass select, .page #main .content .content .user-pass textarea, .page #main .content .content .user-pass details, .page #main .content .content .user-register-form input, .page #main .content .content .user-register-form button, .page #main .content .content .user-register-form select, .page #main .content .content .user-register-form textarea, .page #main .content .content .user-register-form details {
        border-color: #2E2E2E; }
    .page #main .content .content .user-login-form .description {
      padding: 5px 0 5px 105px; }
    .page #main .views-field-created, .page #main .submitted {
      color: #999;
      font-size: 0.921em; }
    .page #main .field-name-field-tags .field-items {
      display: inline;
      float: none; }
      .page #main .field-name-field-tags .field-items .field-item {
        display: inline; }
    .page #main .pager li {
      display: inline-block;
      margin: 0 1px;
      padding: 0; }
      .page #main .pager li a {
        background-color: #555;
        border-color: #000;
        color: #ccc;
        display: inline-block;
        padding: 5px 14px;
        border-radius: 0; }
        .page #main .pager li a:hover, .page #main .pager li a:focus {
          background: #fff;
          color: #f53e3e; }
    .page #main .pager .pager-current {
      padding-left: 5px;
      padding-right: 5px;
      font-weight: normal;
      color: #f53e3e; }
    .page #main .action-links {
      margin-top: 0; }
    .page #main .form-required:after {
      content: " *";
      vertical-align: middle; }
    .page #main #forum table {
      width: 100%;
      margin-bottom: 20px; }
      .page #main #forum table th {
        padding: 10px 7px;
        background: #fff;
        color: #000;
        border: 1px solid #aaa; }
      .page #main #forum table td {
        padding: 7px;
        background: #ccc;
        color: #000;
        border: 1px solid #aaa;
        position: static; }
        .page #main #forum table td .submitted {
          color: #666; }
      .page #main #forum table a:hover {
        color: #000; }
    .page #main #forum td.created, .page #main #forum td.posts, .page #main #forum td.topics, .page #main #forum td.last-reply, .page #main #forum td.replies, .page #main #forum td.pager {
      white-space: normal; }
    .page #main .field-name-taxonomy-forums {
      margin-bottom: 15px; }
      .page #main .field-name-taxonomy-forums .field-label {
        float: left;
        margin-right: 5px; }
      .page #main .field-name-taxonomy-forums .field-items {
        display: inline; }
        .page #main .field-name-taxonomy-forums .field-items .field-item {
          display: inline; }
    .page #main #comments {
      padding-top: 30px;
      margin-top: 30px;
      border-top: 1px dotted #444; }
      .page #main #comments h2 {
        text-transform: uppercase;
        margin: 0 0 20px !important;
        padding-right: 0 !important; }
      .page #main #comments #comment-form {
        padding: 0;
        background: none;
        margin: 0; }
      .page #main #comments mark {
        float: right;
        margin: 0 0 10px 10px;
        padding: 1px 5px; }
    .page #main .comment {
      background: #333;
      border: 1px solid #444;
      margin-bottom: 30px;
      padding: 20px; }
      .page #main .comment h3 {
        font-size: 1.28em;
        font-family: arial;
        font-weight: bold;
        margin-bottom: 10px; }
      .page #main .comment .content {
        background: none !important;
        padding: 0 !important;
        margin-bottom: 20px !important; }
        .page #main .comment .content:before {
          display: none !important; }
      .page #main .comment ul.links {
        margin-bottom: 0; }
        .page #main .comment ul.links li a {
          display: inline-block;
          padding: 5px 15px;
          background: #fff;
          font-size: 0.921em;
          color: #000; }
          .page #main .comment ul.links li a:hover, .page #main .comment ul.links li a:focus {
            color: #fff;
            background: #f53e3e; }
    .page #main #comment-form {
      background: #000;
      padding: 30px;
      margin-bottom: 30px; }
      .page #main #comment-form .preview {
        padding: 15px;
        margin-bottom: 30px; }
        .page #main #comment-form .preview a:hover, .page #main #comment-form .preview a:focus {
          color: #000; }
      .page #main #comment-form .form-item {
        margin: 0 0 15px; }
        .page #main #comment-form .form-item label {
          min-width: 100px; }
        .page #main #comment-form .form-item .form-text, .page #main #comment-form .form-item .form-textarea, .page #main #comment-form .form-item .form-select {
          background-color: #222;
          border: 1px solid #2E2E2E;
          color: #fff; }
      .page #main #comment-form .form-actions {
        margin: 0; }
      .page #main #comment-form .form-type-textarea {
        margin-bottom: 0; }
      .page #main #comment-form .filter-wrapper {
        border-color: #2E2E2E; }
        .page #main #comment-form .filter-wrapper .tips {
          margin-left: 20px; }
          .page #main #comment-form .filter-wrapper .tips li {
            margin-bottom: 7px; }
      .page #main #comment-form details {
        background: #fff;
        color: #000;
        border: none;
        margin-bottom: 20px; }
        .page #main #comment-form details .form-autocomplete {
          background: #fff !important;
          color: #000 !important;
          border: 1px solid #ddd !important; }
        .page #main #comment-form details legend {
          margin-bottom: 10px; }
        .page #main #comment-form details #edit-keywords-fieldset label {
          min-width: 190px; }
        .page #main #comment-form details .form-submit {
          margin-bottom: 10px; }
          .page #main #comment-form details .form-submit:hover, .page #main #comment-form details .form-submit:focus {
            background: #000;
            color: #fff; }
        .page #main #comment-form details a:hover {
          color: #000; }
        .page #main #comment-form details #edit-date {
          margin-bottom: 10px; }
  .page .sidebar {
    /* lgoin */ }
    .page .sidebar h2 {
      font-size: 1.285em;
      text-transform: uppercase;
      color: #fff; }
    .page .sidebar .block {
      border-top: 2px dotted #555;
      padding-top: 30px;
      margin-bottom: 30px; }
      .page .sidebar .block:first-child {
        border-top: none;
        padding-top: 0; }
    .page .sidebar .views-row {
      border-top: 1px dotted #555;
      padding-top: 20px;
      margin-bottom: 20px;
      overflow: hidden; }
      .page .sidebar .views-row:first-child {
        border-top: none;
        padding-top: 0; }
      .page .sidebar .views-row:last-child {
        margin-bottom: 0; }
      .page .sidebar .views-row .views-field-field-image {
        float: left;
        margin: 5px 15px 5px 0; }
      .page .sidebar .views-row .views-field-title {
        font-size: 1.14em;
        font-weight: bold; }
    .page .sidebar .item-list ul {
      margin: 0; }
      .page .sidebar .item-list ul li {
        border-top: 1px dotted #afafaf;
        list-style: none;
        margin: 0; }
        .page .sidebar .item-list ul li a {
          display: block;
          padding: 7px 0;
          color: #ccc; }
          .page .sidebar .item-list ul li a:before {
            content: "+";
            margin-right: 5px; }
          .page .sidebar .item-list ul li a:hover, .page .sidebar .item-list ul li a:focus {
            color: #f53e3e; }
        .page .sidebar .item-list ul li:first-child {
          border-top: none; }
      .page .sidebar .item-list ul li.views-row {
        margin-left: 0;
        list-style: none;
        overflow: visible;
        border-top: 1px dotted #555;
        padding-top: 20px;
        margin-bottom: 20px; }
        .page .sidebar .item-list ul li.views-row a {
          padding: 0; }
          .page .sidebar .item-list ul li.views-row a:before {
            content: "";
            margin-right: 0; }
        .page .sidebar .item-list ul li.views-row:first-child {
          border-top: none;
          padding-top: 0; }
        .page .sidebar .item-list ul li.views-row .views-field-changed {
          font-size: 0.921em; }
    .page .sidebar #user-login-form .form-item {
      margin: 0 0 10px; }
      .page .sidebar #user-login-form .form-item label {
        display: inline-block;
        min-width: 90px; }
      .page .sidebar #user-login-form .form-item .form-text {
        background: #555;
        border: none;
        padding: 8px;
        width: 250px; }
    .page .sidebar #user-login-form .form-actions {
      margin: 0 0 10px;
      padding-left: 94px; }
      .page .sidebar #user-login-form .form-actions .button {
        margin: 0; }
    .page .sidebar #user-login-form + .item-list {
      padding-top: 20px; }
      .page .sidebar #user-login-form + .item-list ul li {
        border-top: none;
        margin-bottom: 7px; }
        .page .sidebar #user-login-form + .item-list ul li a {
          padding: 0; }
    .page .sidebar .about-me .img {
      float: right;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 4px solid #fff;
      margin: -25px 0 5px 10px; }
    .page .sidebar .about-me h4 {
      text-transform: uppercase;
      margin-bottom: 5px; }
    .page .sidebar .month {
      margin-right: 5px; }
  .page ul.inline, .page ul.links.inline {
    display: block; }
    .page ul.inline li, .page ul.links.inline li {
      padding-left: 0px;
      margin-right: 5px; }
      .page ul.inline li a:before, .page ul.links.inline li a:before {
        content: "+";
        margin-right: 5px; }
  .page #title {
    background: #000;
    padding: 30px 0; }
    .page #title h1 {
      margin-bottom: 0;
      color: #fff;
      text-transform: uppercase;
      line-height: 1.4; }

.tabs a:hover, .tabs a:focus {
  color: #f53e3e; }
.tabs li.active > a {
  background-color: #eee; }

/* contact page */
.contact-location {
  background: #000;
  padding: 30px;
  margin-bottom: 30px; }
  .contact-location h3 {
    color: #fff;
    font-size: 1.285em;
    text-transform: uppercase; }

.contact-message-feedback-form {
  background: #000;
  padding: 30px; }
  .contact-message-feedback-form .form-item {
    margin: 0 0 10px; }
    .contact-message-feedback-form .form-item .form-text, .contact-message-feedback-form .form-item .form-textarea, .contact-message-feedback-form .form-item .form-email {
      background-color: #222;
      border: 1px solid #2E2E2E;
      color: #fff; }
    .contact-message-feedback-form .form-item label {
      min-width: 135px; }
  .contact-message-feedback-form .form-actions {
    margin: 0;
    padding-top: 10px; }
    .contact-message-feedback-form .form-actions .button {
      margin: 0; }

/* search */
.search-results {
  margin: 0;
  background: #000;
  padding: 30px; }
  .search-results li {
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px dotted #555; }
    .search-results li:first-child {
      border: none;
      padding-top: 0; }
    .search-results li:last-child {
      margin-bottom: 0; }
  .search-results .title {
    font-size: 1.14em;
    font-family: arial; }

#search-form {
  background: #000;
  padding: 30px;
  margin-bottom: 30px; }
  #search-form .form-item {
    margin: 0 0 10px; }
    #search-form .form-item .form-search {
      background-color: #222;
      border: 1px solid #2E2E2E;
      color: #fff; }
    #search-form .form-item label {
      min-width: 80px;
      margin-right: 10px; }
  #search-form .form-submit {
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0; }
  #search-form details {
    background: #fff;
    color: #000;
    border: none; }
    #search-form details legend {
      margin-bottom: 10px; }
    #search-form details #edit-keywords-fieldset label {
      min-width: 190px; }
    #search-form details .form-submit {
      margin-bottom: 10px; }
      #search-form details .form-submit:hover, #search-form details .form-submit:focus {
        background: #000;
        color: #fff; }
  #search-form .details-title:hover {
    color: #000; }
