@media (max-width: 1169px) and (min-width: 992px) {
  /* */
  /*  */
  /* BUTTON */
  .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: #f53e3e;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in; }
    .form-submit:hover, .form-submit:focus {
      background: #fff;
      color: #f53e3e; }
    .form-submit:first-child {
      margin: 0 10px 10px 0; }

  #footer .menu li {
    margin-left: 6px;
    padding-left: 6px; }

  .page .sidebar #user-login-form .form-actions {
    padding-left: 0; }

  .views-field-field-images a img {
    max-width: 91px; } }
@media (max-width: 991px) {
  /* */
  /*  */
  /* BUTTON */
  .form-submit {
    margin: 0 10px 10px 0;
    border: none;
    padding: 8px 20px;
    color: #fff;
    background: #f53e3e;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in; }
    .form-submit:hover, .form-submit:focus {
      background: #fff;
      color: #f53e3e; }
    .form-submit:first-child {
      margin: 0 10px 10px 0; }

  .container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px; }

  /* slideshow */
  #search-block-form {
    position: absolute;
    right: 70px;
    top: 35px;
    width: 40px; }
    #search-block-form .form-search {
      width: 0px; }
    #search-block-form:hover, #search-block-form:focus {
      width: 249px; }
      #search-block-form:hover .form-search, #search-block-form:focus .form-search {
        width: 198px; }

  .logged-in #search-block-form {
    right: 47px;
    top: 21px; }

  /* main menu */
  #main-menu {
    max-height: 20000px;
    margin: 0 -20px;
    clear: both;
    float: none;
    padding: 0;
    position: static; }
    #main-menu .container-fluid {
      padding: 0; }
    #main-menu .container {
      width: 100%;
      height: auto; }
      #main-menu .container .block {
        float: none; }
    #main-menu .navbar-header {
      position: absolute;
      right: 20px;
      top: 38px;
      z-index: 500; }
    #main-menu .navbar-toggle {
      display: block;
      background: #ddd;
      margin: 0;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      padding: 7px 8px; }
      #main-menu .navbar-toggle:hover, #main-menu .navbar-toggle:focus {
        background: #ccc; }
      #main-menu .navbar-toggle .icon-bar {
        background: #333; }
    #main-menu .navbar-collapse {
      max-height: 200000px; }
      #main-menu .navbar-collapse .container {
        height: 0;
        margin: 0;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px; }
        #main-menu .navbar-collapse .container ul.menu {
          float: none;
          padding: 5px 15px;
          margin: 15px 0 0;
          background: #444; }
          #main-menu .navbar-collapse .container ul.menu:before {
            border-color: transparent transparent #444 transparent;
            border-style: solid;
            border-width: 0 15px 15px;
            content: "";
            position: absolute;
            top: 0;
            z-index: 10;
            right: 25px; }
          #main-menu .navbar-collapse .container ul.menu li {
            border-left: none;
            float: none;
            border-top: #999;
            border-top-style: dotted; }
            #main-menu .navbar-collapse .container ul.menu li a {
              display: block;
              color: #fff;
              border-radius: 0;
              padding: 10px 0;
              text-shadow: none; }
            #main-menu .navbar-collapse .container ul.menu li .active {
              color: #f53e3e;
              background: none; }
            #main-menu .navbar-collapse .container ul.menu li:hover a, #main-menu .navbar-collapse .container ul.menu li:focus a {
              background: none;
              color: #f53e3e; }
            #main-menu .navbar-collapse .container ul.menu li:first-child {
              border-top: none; }
            #main-menu .navbar-collapse .container ul.menu li ul.menu {
              position: static;
              left: auto;
              top: auto;
              width: auto;
              display: block;
              border: none;
              background: none;
              margin: 0; }
              #main-menu .navbar-collapse .container ul.menu li ul.menu:before {
                display: none; }
              #main-menu .navbar-collapse .container ul.menu li ul.menu li {
                border-top: #999;
                border-top-style: dotted; }
                #main-menu .navbar-collapse .container ul.menu li ul.menu li a {
                  background: none;
                  color: #fff;
                  padding: 10px 0; }
                  #main-menu .navbar-collapse .container ul.menu li ul.menu li a:hover, #main-menu .navbar-collapse .container ul.menu li ul.menu li a:focus {
                    color: #f53e3e; }
          #main-menu .navbar-collapse .container ul.menu .expanded > a:before {
            color: #fff; }
    #main-menu .navbar-collapse.in .container {
      height: auto;
      overflow: visible; }

  .page #main {
    padding-bottom: 0; }

  #panel_second .col-xs-12 {
    margin-bottom: 30px; }
    #panel_second .col-xs-12:last-child {
      margin-bottom: 0; }

  #footer .container .block {
    width: 100%;
    float: none;
    text-align: center; }
  #footer .container ul.menu {
    float: none;
    padding-top: 5px;
    text-align: center; }
    #footer .container ul.menu li {
      float: none;
      display: inline-block;
      padding: 0 6px;
      margin: 0 0 5px; }

  .sidebar {
    margin-top: 20px; } }
@media (max-width: 767px) {
  h2, .h2 {
    font-size: 1.42em; }

  .container {
    padding-left: 15px;
    padding-right: 15px; }

  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-left: 0;
    margin-right: 0; }

  #header #logo {
    width: 140px; }

  #search-block-form {
    top: 27px; }

  .logged-in #search-block-form {
    top: 12px;
    right: 53px; }
  .logged-in .navbar-collapse ul.menu:before {
    top: -15px !important; }

  #main-menu {
    margin-left: -15px;
    margin-right: -15px; }
    #main-menu .navbar-header {
      top: 30px; }
    #main-menu .navbar-collapse {
      border: none;
      box-shadow: none; }

  .page #title {
    padding: 20px 0; }
    .page #title h1 {
      font-size: 1.42em; }
  .page #main #comment-form {
    padding: 15px; }
    .page #main #comment-form .form-item .form-text {
      max-width: 220px; }
      .page #main #comment-form .form-item .form-text label {
        display: block; }
  .page #main .content .node .content {
    padding: 15px; }
  .page #main .content .gallery-list .views-col {
    width: 100% !important;
    margin-bottom: 30px; }
  .page #main .content .gallery-list .views-field-field-images, .page #main .content .gallery-list .views-field-title {
    margin-left: 10px;
    margin-right: 10px; }
  .page #main .content .gallery-list .views-row {
    margin-bottom: 0; }
  .page #main .content .gallery-list .views-field-title {
    background: none;
    padding-left: 0;
    padding-right: 0;
    border: none; }
  .page #main .content .form-text, .page #main .content .form-email {
    max-width: 240px; }
  .page #main .pager li {
    margin-bottom: 5px; }
  .page #main .comment {
    padding: 15px;
    margin-bottom: 15px; }
  .page ul.inline li a, .page ul.links.inline li a {
    margin-bottom: 10px; }

  #panel_first .views-field-field-image a img {
    width: 277px; }

  #panel_second .gallery-list .views-row .views-col {
    margin-right: 0;
    width: 33.33%; }
    #panel_second .gallery-list .views-row .views-col .views-field-field-images {
      padding-right: 10px; }

  .contact-location, .feedback-contact-message-form {
    padding: 15px; }

  #search-form .form-submit {
    margin-left: 148px;
    margin-top: 5px; }
  #search-form #edit-submit--2 {
    margin-left: 0; } }
@media (max-width: 479px) {
  .slick-slider {
    padding-left: 25px; }
    .slick-slider .slick-next {
      right: 10px; }
    .slick-slider .slick-prev {
      right: 38px; }

  #slider1_container {
    width: 100% !important; }

  .page .sidebar #user-login-form .form-actions {
    padding-left: 0; }

  /*search*/
  #search-form {
    padding: 15px; }
    #search-form .details-wrapper {
      padding: 15px; }
    #search-form .form-submit {
      margin-top: 10px;
      margin-left: 0; }

  .page #main .content .content .user-login-form .description {
    padding-left: 0; }
  .page #main .content .content .user-register-form {
    padding: 15px; }
    .page #main .content .content .user-register-form label {
      display: block; }
    .page #main .content .content .user-register-form input, .page #main .content .content .user-register-form select {
      margin-bottom: 5px; }
    .page #main .content .content .user-register-form .form-file {
      max-width: 240px;
      margin-left: 0;
      margin-right: 0; }
    .page #main .content .content .user-register-form .timezone-detect {
      max-width: 200px; } }
