@import "includes/_include";

/* header */
#header{
	.container{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	#logo {
		float: left;
	}
  .region-header, #search-block-form {
		float: right;
	}
  #block-blog-theme-account-menu {
    float: right;
    ul.menu {
      list-style: none;
      li {
        display: inline-block;
      }
    }
  }
}

/* search */
#search-block-form {
	background: url(../images/bg-search.png) no-repeat 100% 0;
	height: 32px;
	width: 249px;
	padding: 4px 5px;
	position: relative;
	&:before{
		@extend %font_awesome;
		content: "\f002";
		font-size: 1em;
	    position: absolute;
	    right: 13px;
	    top: 10px;
	    color: $black;
	    z-index: 0;
	}
	.form-item {
		margin: 0;
	}
	.form-search{
		background: none;
		border: none;
		padding: 4px;
		width: 198px;
		text-indent: 5px;
		color: $black;
		font-style: italic;
	}
	.button {
		margin: 0;
		float: right;
		background: none;
		z-index: 1;
		border: none;
		width: 17px;
		height: 25px;
		text-indent: -999em;
	}
	.form-actions{
		position: relative;
		z-index: 5;
	}
}

/* nav */
#main-menu {
	float: right;
	margin: 0;
	clear: right;
	padding-top: 15px;
}
.navbar-default {
	background: none;
	border-radius: 0;
	box-shadow: none;
	border: none;
	min-height: 0;
	.container-fluid {
		padding: 0;
	}
	.navbar-collapse.collapse{
		border: none;
	}
  	.navbar-collapse {
		max-height: 20000px;
		padding-left: 0;
		padding-right: 0;
	}
	.container{
		padding: 0 !important;
		width: auto;
	}
	ul{
		margin: 0;
	  	list-style: none;
		> li{
			float: left;
			margin: 0 0 0 2px;
			position: relative;
			> a {
				font-family: 'oswaldregular';
				text-transform: uppercase;
				color: $white;
				display: block;
				padding: 4px 20px;
				text-shadow: 1px 1px 0 #000000, 1px 2px 0 #000000;
				font-size: 1.14em;
				&:hover, &:focus{
					color: $red;
				}
			}
			> a.active, > a.is-active{
				background: $red;
				color: $white;
			}
			&:hover, &:focus{block-menu
				> a {
					background: $red;
					color: $white;
				}
				ul.menu{
					display: block;
				}
			}
		}
	  	> li.active {
		  > a {
			background: $red;
			color: $white;
		  }
		}
		.expanded {
			list-style-image: none;
			list-style-type: none;
				> a {
					padding-right: 25px;
					&:before{
						content: "\f0d7";
						color: $white;
						@extend %font_awesome;
						position: absolute;
						right: 9px;
						top: 11px;
						font-size: 0.923em;

					}
				}
			}
		ul{
				position: absolute;
				left: 0;
				top: 33px;
				z-index: 100;
				background: #272727;
				border: 5px solid $red;
				width: 220px;
				display: none;
				li{
					float: none;
					border: none;
					margin:0;
					padding: 0;
					border-top: #444 solid 1px;
					a{
						color: $white;
						border-radius: 0;
						padding: 7px 15px;
						text-transform: none;
						font-family: arial;
						font-size: 1em;
						&:hover, &:focus{
							background: none;
							color: $red !important;
						}
						
					}
					.active-trail, .active, .is-active{
						background: none;
						color: $white;
					}
					&:first-child{
						border: none;
					}
					&:hover, &:focus{
						> a {
								background: none;
								color: $white;
								&:before{
								color: $white;
							}
						}
						ul{
							display: block;
						}
					}
					ul{
						left: 190px;
						top: 10px;
						display: none;
					}
				}
				li.active-trail, li.active{
						background: none;
						color: $white;
				}
				.expanded{
					list-style-image: none;
					list-style-type: none;
					> a {
						&:before{
							content: "\f0da";
							top: 11px;
							color: $white;
						}
					}
				}
		}
	}
}

#title {
  h1 {
	font-size: 1.5em;
  }
}

/* panel first */
#panel_first{
	background: $black;
	padding-top: 30px;
	padding-bottom: 30px;
	h2{
		color: $white;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.container{
		position: relative;
	}
}
.slick-slider{
	margin-bottom: 0;
	.slick-slide {
		position: relative;
		overflow: hidden;
		.views-field{
			padding-right: 28px;
		}
		.views-field-title{
			.field-content{
				background: #141414;
				border-bottom: 2px solid #333;
				display: block;
				padding: 10px 15px;
				font-size: 1.14em;
				min-height: 68px;
				a{
					color:$light_grey;
				}
			}
			
		}
		&:hover, &:focus{
			a{
				color: $red !important;
			}

		}
		.views-field-created{
			position: absolute;
			right: 28px;
			top: 0;
			background: url(../images/bg-date.png) no-repeat 100% 0;
			z-index: 10;
			height: 55px;
			width: 100%;
			padding-right: 0;
			.date-wrapper{
				display: block;
			    float: right;
			    overflow: hidden;
			    padding: 12px 0 0;
			    width: 103px;
			    color: #333;
			}
			.date-left{
				display: block;
			    float: left;
			    font-family: 'oswaldregular';
			    font-size: 2em;
			    line-height: 1.2;
			    text-align: center;
			    width: 49px;
			}
			.date-right{
				border-left: 1px solid #999;
				display: block;
			    float: left;
			    line-height: 1.2;
			    text-align: center;
			    text-transform: uppercase;
			    width: 53px;
			    
			    .month{
			    	display: block;
			    }
			}
		}
	}
	.slick-prev, .slick-next{
		width: 24px;
		height: 24px;
		margin: 0;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		border: 2px solid #fff;
		background: $red;
		color: $white;
		text-align: center;
		top: -44px;
		@extend %button_effect_3;
		&:before{
			@extend %font_awesome;
			font-size: 16px;
		}
		&:hover, &:focus, &:active{
  			background: $dark;
		}
	}
	.slick-next{
		right: 23px;
		&:before{
			content: "\f0da";
			margin-left: 3px;
		}
	}
	.slick-prev{
		left: auto;
		right: 52px;
		&:before{
			content: "\f0d9";
			margin-right: 1px;
		}
	}
	
}

/* panel second */
#panel_second{
	background: $dark;
	padding: 30px 0;
	h2{
		font-size: 1.285em;
		color: $white;
		text-transform: uppercase;
	}
	.menu{
		margin: 0;
		li{
			border-top: 1px dotted #393939;
			padding: 7px 0 7px 15px;
			position: relative;
			&:first-child{
				border-top: none;
			}
			a{
				color: $light_grey;
				&:hover, &:focus{
					color: $red;
				}
				&:before{
					content: "+";
					position: absolute;
					left: 0;
					top: 6px;
				}
			}
		}
	}
	.views-row{
		margin-bottom: 20px;
		.views-field-field-image{
			float: left;
			margin: 0 15px 5px 0;
		}
	}
}

.gallery-list{
	.views-row {
		margin-bottom: 10px !important;
		.views-col{
			margin-right: 10px;
		}
		.views-field{
			margin-bottom: 0;
		}
	}
	.more-link{
		text-align: left;
	}
}

.contact-info {
	p{
		margin-bottom: 5px;
	}
}
.social-wrap {
	overflow: hidden;
	padding-top: 10px;
	p{
		display: inline-block;
		margin: 0 5px 0 0;
	}
	.social-list{
		margin: 0;
		display: inline-block;
		li{
			padding: 0;
			margin-right: 3px;
			a{
				display: inline-block;
				background: $red;
				color: $white;
				padding: 0;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				&:hover{
					background: $white;
					color: $red;
				}
			}
		}
	}
}
/* footer */
#footer {
	background: $black;
	border-top: 1px solid #222;
	.container{
		padding-top: 20px;
		padding-bottom: 20px;
		.block{
			width: 50%;
			float: left;
		}
		.block-menu{
			padding-top: 3px;
		}
	}
	ul {
		margin: 0;
		float: right;
	  	list-style: none;
		li{
			float: left;
			margin-left: 10px;
			line-height: 100%;
			border-left: 1px solid #333;
			padding: 0 0 0 10px;
			a{
				color: $light_grey;
				&:hover{
					color: $red;
				}
			}
			&:first-child{
				border-left: none;
			}
		}
	}
}
/* breadcrumb */
.front{
	#breadcrumb{
		display: none;
	}
} 
#breadcrumb {
	background: $black;
	border-top: 1px solid #222;
	.breadcrumb{
		margin-bottom: 0;
		background: none;
		padding: 10px 0;
		border-radius: 0;
		a{
			color: $light_grey;
			&:hover, &:focus{
				color: $red;
			}
		}
	}
}

.btn-btt{
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
	background: #555;
	width: 40px;
	height: 40px;
	color: $light_grey;
	text-align: center;
	line-height: 40px;
	z-index: 999;
	opacity: 0.7;
	&:before{
		content: "\f062";
		@extend %font_awesome;
	}
	&:hover, &:focus{
		background: $red;
		color: $white;
		opacity: 1;
	}
}


