<div class="page">
<a id="Top"></a>
<header id="header">
  <div class="container">
    {% if logo %}
      <a id="logo" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    {% endif %}

    {% if site_name or site_slogan %}
      <div class="name-and-slogan">

        {# Use h1 when the content title is empty #}
        {% if title %}
          <strong class="site-name">
            <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
          </strong>
        {% else %}
          <h1 class="site-name">
            <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
          </h1>
        {% endif %}

        {% if site_slogan %}
          <div class="site-slogan">{{ site_slogan }}</div>
        {% endif %}
      </div>
   {% endif %}

    {{ page.header }}
	
  {% if page.main_menu %}
    <nav id="main-menu" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
	  <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu-inner">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="main-menu-inner">
            <div class="container">
              {{ page.main_menu }}						
            </div>
          </div>
        
      </div>
    </nav>
  {% endif %}
	
	
  </div>
</header>

  {% if main_menu or secondary_menu %}
    <nav id="navigation" role="navigation">
      <div class="container">
        {{ main_menu }}
        {{ secondary_menu }}
      </div>
    </nav>
  {% endif %}

  

  {% if page.slideshow %}
    <section id="slideshow">
      <div class="container">
        {{ page.slideshow }}
      </div>
    </section>
  {% endif %}

  {% if page.featured %}
    <section id="featured">
      <div class="container">
        {{ page.featured }}
      </div>
    </section>
  {% endif %}

  {% if page.panel_first %}
    <section id="panel_first">
      <div class="container">
        {{ page.panel_first }}
      </div>
    </section>
  {% endif %}

  {% if messages %}
    <section id="messages">
      <div class="container">
        {{ messages }}
      </div>
    </section>
  {% endif %}

  {% if page.help %}
    <section id="help">
      <div class="container">
        {{ page.help }}
      </div>
    </section>
  {% endif %}

  {% if page.page_title %}
    <section id="title">
      <div class="container">
        <h1>{{ page.page_title }}</h1>
      </div>
    </section>
  {% endif %}

  <section id="main">
    <a id="main-content"></a>
    <div class="container">
      <div class="row">
        
	<div class="content col-lg-{{ page.main_content_width }} col-md-{{ page.main_content_width }} col-sm-12 col-xs-12">
          {{ page.highlighted }}

          {{ tabs }}

          {% if action_links %}
            <nav class="action-links">{{ action_links }}</nav>
          {% endif %}

          {{ page.content }}

          <!--{{ feed_icons }}-->
        </div>

        {% if page.sidebar_first %}
          <aside class="sidebar-first sidebar col-lg-{{ page.sidebar_first_width }} col-md-{{ page.sidebar_first_width }} col-sm-12 col-xs-12" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}
		
        {% if page.sidebar_second %}
          <aside class="sidebar-second sidebar col-lg-{{ page.sidebar_second_width }} col-md-{{ page.sidebar_second_width }} col-sm-12 col-xs-12" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>
    </div>
  </section>

  {% if page.panel_second_1 or page.panel_second_2 or page.panel_second_3 %}
    <section id="panel_second">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            {{ page.panel_second_1 }}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            {{ page.panel_second_2 }}
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            {{ page.panel_second_3 }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  
  {% if page.breadcrumb %}
    <section id="breadcrumb">
      <div class="container">
        {{ page.breadcrumb }}
      </div>
    </section>
  {% endif %}
  <a href="#Top" class="btn-btt" title="Back to Top" style="display: blocks;"></a>          
  
  {% if page.footer %}
    <footer id="footer" role="contentinfo">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>
