{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
    {{ title_prefix }}
    <section{{ attributes.addClass(classes) }} id="title">
      <div class="container">
        <h1>
          {% if title %} {{ title }} {% endif %}
          {% if node.title %} {{ dump(content) }} {% endif %}
        </h1>
      </div>
    </section>
    {{ title_suffix }}
{% endif %}
